/* 
author: Rakshita Mathur
date: 2023-02-06
Course: CSI-3140 WWW structures and design
Assignment 2 Question 2 -CSS 
*/

.nav-button {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding: 10px 20px;
    color: black;
  }
  
  .nav-button a {
    color: inherit;
    text-decoration: none;
  }
  
  .nav-button:hover {
    background-color: black;
    color: white;
  }